## HSSP Spring 2024: Computing in the Small: Lyman Hurd, Glenn Hurd

### Week 1: Simple programs and Python Basics.

The purpose of this course is to illustrate that simple programs can lead to complicated results.  In fact, some of the systemss we will be conisidering are provably as complicated as a general computer.  All of the calculations we will carry out could be done with pencil and paper, but to speed things up we will be implementing the code in Python.

### Jupyter Notebooks and Python Basics
This is a Jupyter notebook which is a way to present Python code (it works for other computer languages too, but we will stick to Python in this course) in an interactive fashion.  There aree Markdown sections which are just explanatory text, input boxes which represent code and output boxes that represent the result of running the code.  In all cases you can edit the code and see what the new values would have given by simply changing the tesxt and hitting "shift-enter" to evaluate the cell.  Note that the Python program underlying the notebook only knows about cells you have evaluated and so you should be sure to evaluate cells in the desired order (in other words, if we define a variable or function in one cell, we cannot use that information in a subsequent cell until we have evaluated the first cell).

### Evaluating expressions
First off, Python acts like a glorified calculator.  You can simply type in an expression and get a result.  The **print** function here is not technically necessary because Python will always print the result of the last expression it sees, but we will want to use this later when we want Pythont to print out value sin the middle of a computation.

In [16]:
print(123456789 * 987654321)

121932631112635269

Note that in many computer languages this calculation would overflow (often languages do not allow integers greater than 2 to the 32nd power(in Python  2\*\*32) = 4294967296), but Python works with as many digits as are needed for an answer.  And yes, some languages allow 2 to the 64 (2\*\*64) or even 2\*\*128.  Python does not stop there:

In [15]:
print(2**32 + 1)
print(2**64 + 1)
print(2**128 + 1)

4294967297
18446744073709551617
340282366920938463463374607431768211457

Variables are assigned by saying "variable = value", e.g.  Note that this is different from the way math uses "=".  To assert that two things are equalt we use `==`.

In [42]:
x = 128
y = 666
print(x * y + 1)
print(x == 128)

85249
True

To avoid having to repeat outselves when we want to carry on the same computation with a different starting value, Python has the `def` operator to define a function.  Unlike basically any other programming language (that we know of and that spans a lot) Python depends on spacing to know when you havd finished defining your function.  The number of spaces can be any fixed number but we will always use four spaces or equivalently one tab.

In [33]:
def my_function(x):
    return x + 1

# now to test it out
print(my_function(1))
print(my_function(2))

2
3

Now another thing we will often want to do is to loop.  One of the simplest sort of loops is over a range of numbers.  We handle this by the `range(n)` function.  The range by default starts at 0 and goes upwards but with two numbers you can specify the lower and upper bounds, and with three you can even specify the step between values.  We combine this with the `for` keyword.  Note that spacing tells Python what statements we want looped over (we will also see his rule when we evaluate `if/else` statements).  We can even step backwards.  Notice that the loop always stops just before we get to the last value.

In [38]:
for i in range(5):
    print("First loop ", i)

print()

for i in range(5, 10):
    print("Second loop ", i)

print()

for i in range(0, 10, 2):
    print("Third loop ", i)

print()

for i in range(10, 0, -2):
    print("Fourth loop ", i)

First loop  0
First loop  1
First loop  2
First loop  3
First loop  4

Second loop  5
Second loop  6
Second loop  7
Second loop  8
Second loop  9

Third loop  0
Third loop  2
Third loop  4
Third loop  6
Third loop  8

Fourth loop  10
Fourth loop  8
Fourth loop  6
Fourth loop  4
Fourth loop  2

Two more operators we will depend on are integer division (rounding fractions down) and the mod operator which determines the remainder when you divide two integers.

In [41]:
# normal division
print("5/2 =", 5/2)
# integer division
print("5//2 =", 5//2)
# modulo
print("5 % 2 =", 5 % 2)

5/2 = 2.5
5//2 = 2
5 % 2 = 1

For example, `n % 2` is `0` if `n` is even and `1` if `n` is odd.  Notice how the lines are spaced in the `if` and `else` clauses.

Those of you who have used other computer languages like Java or JavaScript will notice another peculiarity of Python, that parentheses can often be omitted in `if` statements and `for` statements and a few other places we will encounter later.

In [45]:
def describe(n):
    if n % 2 == 0:
        print(n, "is even")
    else:
        print(n, "is odd")

for i in range(-5, 5):
    describe(i)

-5 is odd
-4 is even
-3 is odd
-2 is even
-1 is odd
0 is even
1 is odd
2 is even
3 is odd
4 is even

### Simple Programs, Complex Behavior
Let us see what we can do using only the building blocks we have described.  First we want to consider a function `c1` from the integers to themselves defined by the rule:

1. If `n` is even, return `n // 2`
1. If `n` is odd, return `2n + 1`

In [48]:
def c1(n):
    if n % 2 == 0:
        return n // 2
    else:
        return 2 * n + 1

We will be particularly interested in what happens to a value of `n` on repeated application of the rule.  Using the "end" keyword allows us to tell the print statement not to insert a newline between every statement so that we can see the iterates in a line.

In [51]:
def c1_iterates(n):
    for i in range(10):
        print(n, "-> ", end="")
        n = c1(n)
    print(n)

In [52]:
c1_iterates(1)

1 -> 3 -> 7 -> 15 -> 31 -> 63 -> 127 -> 255 -> 511 -> 1023 -> 2047

In [53]:
for i in range(13):
    c1_iterates(i)

0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0
1 -> 3 -> 7 -> 15 -> 31 -> 63 -> 127 -> 255 -> 511 -> 1023 -> 2047
2 -> 1 -> 3 -> 7 -> 15 -> 31 -> 63 -> 127 -> 255 -> 511 -> 1023
3 -> 7 -> 15 -> 31 -> 63 -> 127 -> 255 -> 511 -> 1023 -> 2047 -> 4095
4 -> 2 -> 1 -> 3 -> 7 -> 15 -> 31 -> 63 -> 127 -> 255 -> 511
5 -> 11 -> 23 -> 47 -> 95 -> 191 -> 383 -> 767 -> 1535 -> 3071 -> 6143
6 -> 3 -> 7 -> 15 -> 31 -> 63 -> 127 -> 255 -> 511 -> 1023 -> 2047
7 -> 15 -> 31 -> 63 -> 127 -> 255 -> 511 -> 1023 -> 2047 -> 4095 -> 8191
8 -> 4 -> 2 -> 1 -> 3 -> 7 -> 15 -> 31 -> 63 -> 127 -> 255
9 -> 19 -> 39 -> 79 -> 159 -> 319 -> 639 -> 1279 -> 2559 -> 5119 -> 10239
10 -> 5 -> 11 -> 23 -> 47 -> 95 -> 191 -> 383 -> 767 -> 1535 -> 3071
11 -> 23 -> 47 -> 95 -> 191 -> 383 -> 767 -> 1535 -> 3071 -> 6143 -> 12287
12 -> 6 -> 3 -> 7 -> 15 -> 31 -> 63 -> 127 -> 255 -> 511 -> 1023

How about negative numbers?

In [54]:
for i in range(0, -10, -1):
    c1_iterates(i)

0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0 -> 0
-1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1
-2 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1
-3 -> -5 -> -9 -> -17 -> -33 -> -65 -> -129 -> -257 -> -513 -> -1025 -> -2049
-4 -> -2 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1
-5 -> -9 -> -17 -> -33 -> -65 -> -129 -> -257 -> -513 -> -1025 -> -2049 -> -4097
-6 -> -3 -> -5 -> -9 -> -17 -> -33 -> -65 -> -129 -> -257 -> -513 -> -1025
-7 -> -13 -> -25 -> -49 -> -97 -> -193 -> -385 -> -769 -> -1537 -> -3073 -> -6145
-8 -> -4 -> -2 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1 -> -1
-9 -> -17 -> -33 -> -65 -> -129 -> -257 -> -513 -> -1025 -> -2049 -> -4097 -> -8193

Some initial observations:

1. 0 and -1 are fixed points (they never change)
1. Every even number gets cut in half until it reaches an odd number (which has to happen for all values except 0)
1. Every odd number increases without bound and some of these sequences overlap (for example, if we know all the future iterates f 3, we also know the history of 7 and 15, but this sequence has no overlaps withthe numbers starting with 5)

When does a number start a new sequence?  For example, looking at the sequences above we can see that the sequences starting with 1, 5 and 9 have no overlaps with each other.

Every odd number can be expressed as `n = 2m + 1` for some other number `m`.  If `m` is iteself odd, then we know that its successor would be `n`, so we are more specifically interested in numbers of thr form `n = 2m + 1` where `m` is also odd, or `m = 2p + 1` for some `p`.

Substituting we get: `n = 2m + 1 = 2 (2p + 1) + 1` and simplifying we get `n = 4p + 3`, which is a longwinded way to say if the remainder of `n` whcn divided by `4` is `3` (as `n` is odd, the remainder cannot be `0` or `2`), then `n` is part of another sequence).

Note we are slipping in another Python convenience, a formatted string which is just a string starting with an f that enables us to add bits of code to evaluate, such as `f"x + y = {x + y}"`.

In [59]:
def c1_iterates_mod_4(n):
    for i in range(10):
        print(f"{n} ({n % 4}) -> ", end="")
        n = c1(n)
    print(f"{n} ({n % 4})")

for i in range(-10, 10):
    c1_iterates_mod_4(i)

-10 (2) -> -5 (3) -> -9 (3) -> -17 (3) -> -33 (3) -> -65 (3) -> -129 (3) -> -257 (3) -> -513 (3) -> -1025 (3) -> -2049 (3)
-9 (3) -> -17 (3) -> -33 (3) -> -65 (3) -> -129 (3) -> -257 (3) -> -513 (3) -> -1025 (3) -> -2049 (3) -> -4097 (3) -> -8193 (3)
-8 (0) -> -4 (0) -> -2 (2) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3)
-7 (1) -> -13 (3) -> -25 (3) -> -49 (3) -> -97 (3) -> -193 (3) -> -385 (3) -> -769 (3) -> -1537 (3) -> -3073 (3) -> -6145 (3)
-6 (2) -> -3 (1) -> -5 (3) -> -9 (3) -> -17 (3) -> -33 (3) -> -65 (3) -> -129 (3) -> -257 (3) -> -513 (3) -> -1025 (3)
-5 (3) -> -9 (3) -> -17 (3) -> -33 (3) -> -65 (3) -> -129 (3) -> -257 (3) -> -513 (3) -> -1025 (3) -> -2049 (3) -> -4097 (3)
-4 (0) -> -2 (2) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3)
-3 (1) -> -5 (3) -> -9 (3) -> -17 (3) -> -33 (3) -> -65 (3) -> -129 (3) -> -257 (3) -> -513 (3) -> -1025 (3) -> -2049 (3)
-2 (2) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3)
-1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3) -> -1 (3)
0 (0) -> 0 (0) -> 0 (0) -> 0 (0) -> 0 (0) -> 0 (0) -> 0 (0) -> 0 (0) -> 0 (0) -> 0 (0) -> 0 (0)
1 (1) -> 3 (3) -> 7 (3) -> 15 (3) -> 31 (3) -> 63 (3) -> 127 (3) -> 255 (3) -> 511 (3) -> 1023 (3) -> 2047 (3)
2 (2) -> 1 (1) -> 3 (3) -> 7 (3) -> 15 (3) -> 31 (3) -> 63 (3) -> 127 (3) -> 255 (3) -> 511 (3) -> 1023 (3)
3 (3) -> 7 (3) -> 15 (3) -> 31 (3) -> 63 (3) -> 127 (3) -> 255 (3) -> 511 (3) -> 1023 (3) -> 2047 (3) -> 4095 (3)
4 (0) -> 2 (2) -> 1 (1) -> 3 (3) -> 7 (3) -> 15 (3) -> 31 (3) -> 63 (3) -> 127 (3) -> 255 (3) -> 511 (3)
5 (1) -> 11 (3) -> 23 (3) -> 47 (3) -> 95 (3) -> 191 (3) -> 383 (3) -> 767 (3) -> 1535 (3) -> 3071 (3) -> 6143 (3)
6 (2) -> 3 (3) -> 7 (3) -> 15 (3) -> 31 (3) -> 63 (3) -> 127 (3) -> 255 (3) -> 511 (3) -> 1023 (3) -> 2047 (3)
7 (3) -> 15 (3) -> 31 (3) -> 63 (3) -> 127 (3) -> 255 (3) -> 511 (3) -> 1023 (3) -> 2047 (3) -> 4095 (3) -> 8191 (3)
8 (0) -> 4 (0) -> 2 (2) -> 1 (1) -> 3 (3) -> 7 (3) -> 15 (3) -> 31 (3) -> 63 (3) -> 127 (3) -> 255 (3)
9 (1) -> 19 (3) -> 39 (3) -> 79 (3) -> 159 (3) -> 319 (3) -> 639 (3) -> 1279 (3) -> 2559 (3) -> 5119 (3) -> 10239 (3)

So our last observations is that if `n % 4 == 1` it will lead to a new unique sequence of numbers and otherwise `n` will have occurred in a sequence starting with a number closer to 0.

### Out of the frying pan
This has been an example of a situation in which we can analyze behavior completely.  Let's see what happens in we change one number in our function.  We will name the new function `collatz(n)` in honor of *Lothar Collatz* who came up with this example:

In [93]:
def collatz(n):
    if n % 2 == 0:
        return n // 2
    else:
        return 3 * n + 1
    
def collatz_iterates(n):
    for i in range(10):
        print(n, "-> ", end="")
        n = collatz(n)
    print(n)

In [63]:
for i in range(1, 10):
    collatz_iterates(i)

1 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1 -> 4
2 -> 1 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1
3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1
4 -> 2 -> 1 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1 -> 4 -> 2
5 -> 16 -> 8 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1 -> 4 -> 2
6 -> 3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1 -> 4 -> 2
7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10
8 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1 -> 4 -> 2 -> 1 -> 4
9 -> 28 -> 14 -> 7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13

We see that 1 leads to a cycle **1 --> 4 --> 2 --> 1** and so to make things cleaner we will change **collatz_iterates(n)** to stop printing when we get to 1.  We will also make the number of terms to print a separate parameter.  The command **break** allows us to leave the loop early.

In [69]:
def collatz_iterates2(n, iters):
    for i in range(iters):
        print(n, "-> ", end="")
        n = collatz(n)
        if n == 1:
            break
    print(n)

In [70]:
for i in range(1, 10):
    collatz_iterates2(i, 10)

1 -> 4 -> 2 -> 1
2 -> 1
3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1
4 -> 2 -> 1
5 -> 16 -> 8 -> 4 -> 2 -> 1
6 -> 3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1
7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10
8 -> 4 -> 2 -> 1
9 -> 28 -> 14 -> 7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13

So far every number has reached `1` except `7` and `9`.  Let's increase the number of iterations for ythose two numbers.

In [72]:
collatz_iterates2(7, 16)

7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1

In [75]:
collatz_iterates2(9, 19)

9 -> 28 -> 14 -> 7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1

Already we see greater complexity:

1. Sequences are a mix of even and odd numbers.
1. The sequence can get bigger and smaller.
1. Every (positive) number tested eventually seems to land in the cycle 1 --> 4 --> 2 --> 1.
1. The number of steps to get into the cycle seems to be unpredictable.

### The Collatz Conjecture
The **Collatz Conjecture** states that this sequence ends up in the cycle 1 --> 4 --> 2 --> 1 for *every* positive number `n`.  To date (2024) it ha snot been prove true but it has been verified for numbers up to 5 quintillion (5,000,000,000,000,000,000).  The mathematician Paul Erdős said about the Collatz conjecture: "Mathematics is not yet ready for such problems." He offered $500 USD for its solution.

https://mathworld.wolfram.com/CollatzProblem.html

*Footnote:* Paul Erdős is one of the most prolific mathematicians in history and he has collaborated with many people, leading mathematicians to perform their own version of "Degress of separation from Kevin Bacon.".  An author's "Erdős Number".  A person who has co-authored a paper with Paul Erdős is defined to have Erdős number 1, someone who has published a paper with someone who has Erdős number 1 has Erdős number 2 etc.  As a "fun fact" your instructors for this course have Erdős number 3 and 4 respectively!

https://mathworld.wolfram.com/ErdosNumber.html

#### Homework
What can you tell about the Collatz function applied to zero or negaitive integers?  Start by evaluating the following and see if you can come up with a conjecture.  NOte you may need to increase the range of numbers examined or adjust the number of iterations.

In [ ]:
for i in range(0, -11, -1):
    collatz_iterates(i)